.main-container {
    display: flex;
    background-color: purple;
    transition-property: background-color;
    transition-duration: 0.5s;
    flex-direction: column;
    border: 3px solid black;
    width: 50%;
   margin-left: 25%;
}
.main-container:hover {
    background-color: pink;
}

body {
    background-color: grey;
}